* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #EDEFF3;
}

section {
    display: grid;
    grid-template-columns: 1;
    margin: 50px auto 0 auto;
    width: 600px;
    /* height: 800px; */
    /* border: 2px black solid; */
    border-radius: 10px;   
    background-color: #262B40;
}

.task-list {
    min-height: 400px;
}

h1 {
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 25px;
    font-size: 2.5rem;
    font-family: 'Tilt Warp', sans-serif;
    color: #fdfdfe;
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 2rem;
    font-family: 'Kanit', sans-serif;
    color: #fdfdfe;
}

@media (max-width: 600px) {
    body {
        background-color: #262B40;
    }

    section {
        margin: 25px auto 10px auto;
        width: 95%;
    }
    
    .task-list {
        min-height: 300px;
    }
    
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

.task {
    display: grid;
    grid-template-columns: 4fr 2fr;
    margin: 10px auto 0 auto;
    width: 550px;
    height: 50px;
    border: 2px #fdfdfe solid;
    border-radius: 50px;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    background-color: #fdfdfe;
}

.task div {
    height: 30px;
    margin: 12px 0 0 20px;
}

.task .task-icons {
    margin: 9px 0 0 45px;
}

.task-icons i {
    margin: 0 3px;
}

.task-icons .fa-circle-check {
    font-size: 2.0rem;
    color: #93C000;
}

.task-icons .fa-circle-xmark {
    font-size: 2.0rem;
    color: #BD0101;
}

.task-icons .fa-pen {
    font-size: 1.5rem;
    color: #262B40;
}

.new-task {
    display: grid;
    grid-template-columns: 4fr 2fr;
    margin: 10px auto 0 auto;
    width: 550px;
    height: 50px;
    border: 2px #fdfdfe solid;
    border-radius: 50px;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    background-color: #fdfdfe;
}

.new-task div {
    height: 30px;
    margin: 12px 0 0 20px;
}

.new-task .task-icons {
    margin: 10px 0 0 50px;
}

.task-icons .fa-circle-plus {
    font-size: 2.0rem;
    margin-left: 80px;
    color: #BD0101;
}

.completed {
    min-height: 300px;
}

.task-completed {
    display: grid;
    grid-template-columns: 4fr 2fr;
    margin: 10px auto 0 auto;
    margin-bottom: 10px;
    width: 550px;
    height: 50px;
    border: 2px #fdfdfe solid;
    border-radius: 50px;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    background-color: #fdfdfe;
}

.task-completed div {
    height: 30px;
    margin: 12px 0 0 20px;
}

.task-completed .task-icons {
    margin: 12px 0 0 135px;
}

.task-completed .fa-trash {
    font-size: 1.8rem;
    color: #262B40;
}

#input-new-task {
    height: 25px;
    width: 95%;
    border: none;
    /* border-bottom: 2px black solid; */
    margin: 0 0 10px 0;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
}

#input-new-task:focus {
    outline: none;
    /* border: none; */
    border-bottom: 2px black solid;
}

@media (max-width: 600px) {
    .completed {
        min-height: 200px;
    }

    .task {
        width: 95%;
        font-size: 1.2rem;
        height: 40px;
    }

    .task div {
        height: 20px;
        margin: 10px 0 0 20px;
    }

    .task .task-icons {
        display: flex;
        justify-content: end;
        margin-right: 20px;
        margin: 8px 15px 0 0;        
    }

    .task-icons i {
        margin: 0 3px;
    }
    
    .task-icons .fa-circle-check {
        font-size: 1.8rem;
    }
    
    .task-icons .fa-circle-xmark {
        font-size: 1.8rem;
    }
    
    .task-icons .fa-pen {
        font-size: 1.5rem;
    }

    .new-task {
        width: 95%;
        font-size: 1.2rem;
        height: 40px;
    }

    .new-task div {
        height: 15px;
        margin: 10px 0 0 20px;
    }

    #input-new-task {
        height: 20px;
        font-size: 1.2rem;
        margin: 0 0 15px 0;
    }

    .new-task .task-icons {
        display: flex;
        justify-content: end;
        margin-right: 20px;
        margin: 8px 15px 0 0;        
    }

    .new-task .fa-circle-plus {
        font-size: 1.8rem;
    }

    .task-completed {
        width: 95%;
        font-size: 1.2rem;
        height: 40px;
    }

    .task-completed div {
        height: 20px;
        margin: 10px 0 0 20px;
    }

    .task-completed .task-icons {
        display: flex;
        justify-content: end;
        margin-right: 20px;
        margin: 8px 15px 0 0;       
    }

    .task-completed .fa-trash {
        font-size: 1.6rem;
    }
}